$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$gold: #ECD500;
$white: #f7f1ec;

$red: #860008;
$blue: #004F86;
$green: #00863A;

$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0:  #839496;
$base1:  #93a1a1;
$base2:  #eee8d5;
$base3:  #fdf6e3;

$yellow: #b58900;
$orange: #cb4b16;
$red:    #dc322f;
$magenta:#d33682;
$violet: #6c71c4;
$blue:   #268bd2;
$cyan:   #2aa198;
$green:  #859900;
$cream:  #FDF9D8;

$gold: $yellow;

//$background-color: #f0ebe7;
$background-color: $cream;

// Pantone 202 (razorback) 9d2235; 9d2235
// Pantone 201 (Sooners) 841617 (Ford Regal Red #861B19)
$pantone-201c: #9d2235; // HOGS: #9d2235 - Cardinal red
$pantone-202c: #862633; // Redskins
// Audi Misano Red Pearl / LZ3M, N9, N9N9, N9PA, N9PW / #ba2111 Hex Color Code
$misano-red: #ba2111;

$brand-primary: $pantone-201c;
//$brand-primary: $misano-red;

$navbar-background: $brand-primary;
$navbar-darken: darken($navbar-background, 10);
$navbar-lighten: lighten($navbar-background, 15);

$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;

$navbar-link-color: #CCC;
$navbar-link-hover-color: lighten($navbar-link-color, 30%);
