#bottom {
	background: $base03 url(https://s3.amazonaws.com/dausha/images/footer.jpg) no-repeat !important;
	min-height: 250px;
	color: $base2;
	font-size: 0.9em;
	font-family: $sans-fonts;
	padding-top: 1em;
	.footer-col {height: 250px; }
	h3 {
		font-size: 1.1em;
		color: $base2;
		border-bottom: 1px solid $base2;
		&.title {border-bottom: 1px solid #AAA;}
	}
	i.fa {width: 1.5em; text-align: center; }
	a {color: #FFF; }
}
footer {
	background: darken($base03,10%);
	color: $base00;
	font-size: 0.9em;
	font-family: $sans-fonts;
	padding: 0.5em 0;
}
#wrapper {
  min-height:100%;
  position:relative;
}