.social_networks {
	margin-left: 1em; 

	a.twitter {
	    color: #0093CE !important;
	    border-color: #0093CE !important;
	    &:hover, &:active {
	    	background-color: #0093CE !important;
	    	color: #FFF !important;
	    	text-decoration: none !important;
	    }
	}
	a.facebook {
	    color: #2C4377 !important;
	    border-color: #2C4377 !important;
	    &:hover, &:active {
	    	background-color: #2C4377 !important;
	    	color: #FFF !important;
	    	text-decoration: none !important;
	    }
	}
	a.google-plus {
	    color: #c8422d !important;
	    border-color: #c8422d !important;
	    &:hover, &:active {
	    	background-color: #c8422d !important;
	    	color: #FFF !important;
	    	text-decoration: none !important;
	    }
	}
}