/* Cursive Fonts */
@import url(https://fonts.googleapis.com/css?family=Sansita+One);
/* Sans-Serif Fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Montserrat);
/* Serif Fonts */
@import url(https://fonts.googleapis.com/css?family=Merriweather|Domine);

$brand-fonts: 'Sansita One',"Helvetica Neue",Helvetica,Arial,cursive;
$navbar-fonts: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$sans-fonts: Montserrat,'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,Sans-Serif !important;
$serif-fonts: Domine,Merriweather,Garamond, Georgia,serif !important;

$default-text-color: $gray-darker;

html {
  font-family: $serif-fonts;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1.0rem !important;
  line-height: $line-height-base;
  font-family: $serif-fonts;
  color: $default-text-color;
  -webkit-font-smoothing: antialiased;

  h1, h2, h3, .footnotes:before {
    color: darken($brand-primary, 10%);
    text-shadow: 2px 1px 3px #888;
  }
  section > p + p {
    margin-top: -1rem;
    text-indent: 2em;
  }
  h2, h3, h4, .progress, .footnotes:before {
      font-family: $navbar-fonts;
      font-weight: 500 !important;
      text-transform:capitalize;
  }
  h6 {
    font-family: $navbar-fonts;
  }
  .titlecase {
    text-transform: capitalize;
  }
  h1 {
    font-size: 2.6rem;
    font-family: $navbar-fonts;
    small {font-size: 1.0rem; display: block; }
  }
  h2, .footnotes:before { font-size: 2.15rem; line-height: 1.25em }
  h3 { font-size: 1.62rem; line-height: 1.25em }
  h4 { font-size: 1.0rem; line-height: 1.25em }
  .progress { font-weight: bold; text-shadow: 1px 1px 2px #333;}
  .footnotes{
     &:before {
      content: "Footnotes";
      display: block;
      margin-bottom: 0.5em;
    }
  }
  a.btn {
    color: #FFF !important;
  }
  .pagination {
    a { color: $default-text-color !important; }
    li.active {
      
      a {
        color: #FFF !important;
        background-color: $brand-primary !important;
        border-color: darken($brand-primary,5% )!important;
      }
    }
  }
}