$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$white:     $base3;

html, body {
	background-color: $base03;
	color: $base0;
}

a, a:visited, a:active {
	color: $cyan;
	border-color: $base02;
}

a:hover {
	background-color: $base02;
	border-color: $base02;
	color: $cyan;
}

h1, h2, h3 {
	color: $orange;
}

h1 a, h1 a:visited, h1 a:active {
	color: $orange;
}

h1 a:hover {
	background-color: $base02;
	border-color: $base02;
	color: $orange;
}

article h1 a.anchor {
	color: $cyan;
}

blockquote {
	border-color: $orange;
}

#sidebar a:hover {
	color: $cyan;
	background-color: $base02;
}

#footer {
	border-color: $base02;
}

/*** Pygments ***/
.highlight{
	background-color: $base02;
	color: $base1;
	border: 1px solid #2d6472;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding: 6px 10px;
}
.highlight .c{color:$base01 !important;font-style:italic !important}.highlight .cm{color:$base01 !important;font-style:italic !important}.highlight .cp{color:$base01 !important;font-style:italic !important}.highlight .c1{color:$base01 !important;font-style:italic !important}.highlight .cs{color:$base01 !important;font-weight:bold !important;font-style:italic !important}.highlight .err{color:$red !important;background:none !important}.highlight .k{color:$orange !important}.highlight .o{color:$base1 !important;font-weight:bold !important}.highlight .p{color:$base1 !important}.highlight .ow{color:$cyan !important;font-weight:bold !important}.highlight .gd{color:$base1 !important;background-color:#372c34 !important;display:inline-block}.highlight .gd .x{color:$base1 !important;background-color:#4d2d33 !important;display:inline-block}.highlight .ge{color:$base1 !important;font-style:italic !important}.highlight .gr{color:#aa0000}.highlight .gh{color:$base01 !important}.highlight .gi{color:$base1 !important;background-color:#1a412b !important;display:inline-block}.highlight .gi .x{color:$base1 !important;background-color:#355720 !important;display:inline-block}.highlight .go{color:#888888}.highlight .gp{color:#555555}.highlight .gs{color:$base1 !important;font-weight:bold !important}.highlight .gu{color:$violet !important}.highlight .gt{color:#aa0000}.highlight .kc{color:$green !important;font-weight:bold !important}.highlight .kd{color:$blue !important}.highlight .kp{color:$orange !important;font-weight:bold !important}.highlight .kr{color:$magenta !important;font-weight:bold !important}.highlight .kt{color:$cyan !important}.highlight .n{color:$blue !important}.highlight .na{color:$blue !important}.highlight .nb{color:$green !important}.highlight .nc{color:$magenta !important}.highlight .no{color:$yellow !important}.highlight .ni{color:#800080}.highlight .nl{color:$green !important}.highlight .ne{color:$blue !important;font-weight:bold !important}.highlight .nf{color:$blue !important;font-weight:bold !important}.highlight .nn{color:$yellow !important}.highlight .nt{color:$blue !important;font-weight:bold !important}.highlight .nx{color:$yellow !important}.highlight .bp{color:#999999}.highlight .vc{color:#008080}.highlight .vg{color:$blue !important}.highlight .vi{color:$blue !important}.highlight .nv{color:$blue !important}.highlight .w{color:#bbbbbb}.highlight .mf{color:$cyan !important}.highlight .m{color:$cyan !important}.highlight .mh{color:$cyan !important}.highlight .mi{color:$cyan !important}.highlight .mo{color:#009999}.highlight .s{color:$cyan !important}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:$cyan !important}.highlight .s2{color:$cyan !important}.highlight .se{color:$red !important}.highlight .sh{color:#d14}.highlight .si{color:$blue !important}.highlight .sx{color:#d14}.highlight .sr{color:$cyan !important}.highlight .s1{color:$cyan !important}.highlight .ss{color:#990073}.highlight .il{color:#009999}.highlight div .gd,.highlight div .gd .x,.highlight div .gi,.highlight div .gi .x{display:inline-block;width:100%}