  <script type="application/ld+json">
  {
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "{{site.title}}",
  "url" : "{{site.url}}"
  }
  </script>
  <script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "{{site.url}}",
  "logo": "{{site.url}}/assets/img/headshot.png"
  }
  </script>
  <script type="application/ld+json">
  {
  "@context" : "http://schema.org",
  "@type" : "person",
  "name" : "{{site.author}}",
  "url" : "{{site.url}}",
  "sameAs" : ["https://twitter.com/{{site.twitter_username}}","https://www.facebook.com/{{site.protocols.fb_page}}","https://plus.google.com/+{{site.google_plus_id}}"]
  }
  </script>
  