@mixin btn-color($trans) {
	border-color: $trans;
	background-color: lighten($trans, 5%) !important;
	text-decoration: none !important;
	&:hover {background-color: darken($trans, 2%) !important; }
}
@mixin alert-color($trans) {
	border-color: lighten($trans, 30%);
	background-color: lighten($trans,40%) !important;
	color: darken($trans, 20%) !important;
}
@mixin box-shadow($color, $top, $left, $blur, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  color: $normal;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
  @if $visited {
    &:visited {color: $visited; }
  } @else {
    &:visited {color: adjust-hue($normal,-50%); }
  }
  @if $focus {
    &:focus {color: $focus; }
  } @else {
    &:focus {color: lighten($normal,25%); }
  }
  @if $hover {
    &:hover {color: $hover; }
  } @else {
    &:hover {color: lighten($normal,25%); }
  }
  @if $active {
    &:active {color: $active; }
  }
}
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}