/* PARALLAX */
.parallax {
	position: relative;
}
.parallax-background {
	background-attachment: fixed;
	background-position: top center;
}
.mobile-device .parallax-background {
	background-attachment: scroll;
	background-position: center center !important;
}
.mobile-device .parallax {
	top: 0 !important;
}
@media ( max-width: 991px ) {
	.parallax-background {
		background-position: center center !important;
	}
	.parallax {
		top: 0 !important;
	}
}
@media ( min-width: 992px ) {
	.table-row {
		display: table;
		table-layout: fixed;
		width: 100%;
		padding: 0;
	}
	.table-cell {
		display: table-cell;
		float: none !important;
		vertical-align: middle;
	}
}