/**
 * ========================================
 * PRELOADER
 * ========================================
 */
body.enable-preloader > .document {
	opacity: 0;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
}
body.enable-preloader.done-preloader > .document {
	opacity: 1;
}
body.enable-preloader.preloader-dark {
	background-color: #222;
}
#jpreOverlay {
	background-color: #fff;
}
body.enable-preloader.preloader-dark #jpreOverlay {
	background-color: #222;
}
#jpreButton, #jprePercentage {
	display: none !important;
}
#jpreLoader {
	width: 200px !important;
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	margin: -4px 0 0 -100px;
	height: 8px;
	background-color: #eee;
}
body.enable-preloader.preloader-dark #jpreLoader {
	background-color: #444;
}
#jpreBar {
	position: absolute !important;
	top: 0;
	overflow: hidden;
	text-align: center;
}