<!-- Belly Scripts -->
  {% include javascripts/google-analytics.html %}
  {% include javascripts/smooth-scrolling.html %}

  <script src='//cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery-one-page-nav/3.0.0/jquery.nav.min.js'></script>
  
  <script src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js'></script>
  <script src='https://s3.amazonaws.com/dausha/js/merovex.js'></script>
  <script src='https://dausha.s3.amazonaws.com/js/drew.min.js'></script>

  {% include javascripts/highlighting.html %}
  {% include javascripts/get-clicky.html %}
  {% include diceware.html %}
  {% include sumome.html %}
  {% include javascripts/craftmap.html %}
  {% include javascripts/recaptcha.html %}

  <script>
  $(document).ready(function() {
    Materialize.updateTextFields();
  });
  </script>