<div class='row'>
  <div class='offset-sm-4 col-sm-8 offset-xs-6 col-xs-6'><h3 id='bellicose'>{{book.full-title}}</h3></div>
</div>
<div class='row'>
  <div class='nailthumb-portrait col-sm-4 col-xs-6'>
    <img src='{{site.cdn_url}}/images/covers/{{book.cover['angle']}}' alt='' title='Bellicose Cover Art' />
  </div>
  <div class='col-sm-8 col-xs-6'>
    
    {{book.content}}
    {% if book.released %}<div class='btn-toolbar'>
	  <div class='btn-group'>
		<a class='btn btn-danger btn-large' href='{{book.amazon['pback']}}' onClick="ga('send', 'event', 'Button', 'Click', 'Amazon:  Paperback');" target='_blank' ><i class='fa fa-book'></i><span class='sr-only'>Buy  as </span>&nbsp;Paperback</a>
		<a class='btn btn-primary btn-large' href='{{book.amazon['ebook']}}' onClick="ga('send', 'event', 'Button', 'Click', 'Amazon:  Kindle');" target='_blank' ><i class='fa fa-mobile'></i><span class='sr-only'>Buy  as </span>&nbsp;Kindle</a>
	  </div>
	</div>{%endif%}
  </div>
</div>