<div class='indigo darken-2 white-text'>
<hr>

Stuff

<footer class='indigo darken-4 white-text'>
  <div class='container'>
    <div class='valign-wraper row'>
      <h5 class='l12 m12 s12'>Merovex Press</h5>
      <div class='col l7 md6 s12  valign'>
          <p class='copyright'>Copyright © {% if page.created_at%}{{page.created_at| date: '%Y'}}{%else%}{{ site.time | date: '%Y' }}{%endif%} Ben Wilson. All Rights reserved.<br>Expected lapse 2122 AD.</p>
        </div>
        <div class='col l5 md6 s12 valign right-align'>
            <a href='/privacy-statement'>Privacy Policy</a>
             | <a href='/permissions'>My Permissions Policy</a>
        </div>
    </div>
  </div>
</footer>
</div>