<div class="xalert xalert-info lead">

<h3>Help Me Pick New Logo Through 3 April 2016!</h3>
<p>I am in the process of running a logo design contest on 99designs and have created a poll with 6 of the best logo designs I've received. I would love for you to <a href="http://bit.ly/1RhGt6r">vote on the logo design</a>. It only takes a minute.</p>

<h3>Like Sci-Fi? Read My New Online Fiction Series.</h3>

<p>Do you like Sci-Fi? While I finish up my next novel, I have started an online fiction series called
<a href="http://bit.ly/1RhGDuq">Forbearance</a>. Picking
up from the canteen scene in <em>Bellicose</em>, we meet Keius Minjen, a postal
marine, as he tries to survive the battle planet Guna to exact revenge and
one day liberate his homeland.</p>

<hr />

<div class="row alert alert-info">
  <div class="col-sm-6">
  <p>
  Sign-up if you want me to send you news 
  about upcoming installments of <em>Forbearance</em> or my other writings.</p>
  </div>
  <div class="col-sm-6">
<!-- Begin MailChimp Signup Form --><!-- Put in section w/ Aria Labeling -->
<form action="//dausha.us2.list-manage.com/subscribe/post?u=958ff43d5b0de49bac9ad4e21&amp;id=72de3b22a5" method="post" class="validate" target="_blank" novalidate="">
  <div class="input-group">
    <label for="mce-EMAIL" class="sr-only">Email Address</label>
    <input type="email" value="" name="EMAIL" class="form-control" placeholder="What's your email?" id="mce-EMAIL" />
    <span class="input-group-btn">
        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger">
          <span class="sr-only">Subscribe</span>
          <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
        </button>
    </span>
  </div>
  <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_958ff43d5b0de49bac9ad4e21_72de3b22a5" tabindex="-1" value="" />
  </div>
</form>
  </div>
</div>
</div>