<div id='skiptocontent' aria-hidden="true" class='container'><a href='#content'>Skip to main content</a></div>
<header class='navbar navbar-dark bg-inverse navbar-fixed-top bd-navbar hsf' role='banner' itemscope itemtype="http://data-vocabulary.org/Person">
  <div class='container'>
    <meta itemprop="url" content="{{ site.url }}" />
    <meta itemprop="photo" content="http://www.gravatar.com/avatar/{{ site.gravatar_id }}.png" />
    <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
      <meta itemprop="locality" content="{{ site.location.city }}" />
      <meta itemprop="region" content="{{ site.location.state }}" />
      <meta itemprop="country-name" content="{{ site.location.country }}" />
      <a href="https://plus.google.com/+{{ site.google_plus_id }}" rel="publisher" class="sr-only">Ben Wilson, Author</a>
    </span>
  <div class='clearfix'>
    <button class='navbar-toggler pull-right hidden-sm-up' type='button' data-toggle='collapse' data-target='#bd-main-nav'>
      &#9776;
    </button>
    <a class='navbar-brand hidden-sm-up' href='/' aria-hidden="true">
      <img src='https://dausha.s3.amazonaws.com/images/merovex-white-logo-1.png' srcset="images/logos/header-logo@2x.png 2x" alt="Drew">
    </a>
  </div>
  <div class='collapse navbar-toggleable-xs' id='bd-main-nav'>
    <nav class='nav navbar-nav' role='navigation'>
      <a class='navbar-brand nav-item nav-link hidden-xs-down navbar-logo navbar-brand anchor-link' href='/' >
      <img src='https://dausha.s3.amazonaws.com/images/merovex-white-logo-1.png' srcset="images/logos/header-logo@2x.png 2x" alt="Drew">
      </a>
      <!-- Swappable? -->
      <ul class='nav navbar-nav pull-right' id="header-nav">
        <li class='nav-item'><a class='nav-link' href='/'>Home</a></li>
        <li class='nav-item'><a class='nav-link' href='/postal-marine-series/'>Books</a></li>
        <li class='nav-item'><a class='nav-link' href='/blog/'>Articles</a></li>
        <li class='nav-item'><a class='nav-link' href='http://bit.ly/1Lrbjf0' onClick="ga('send', 'event', 'Social', 'Click', 'Subscribe: Author Feed');"><i aria-hidden='true' class='fa fa-rss'></i> RSS Feed</a></li>
      </ul>
    </nav>
  </div>
  </div>
</header>