{% assign post = fred %}
{% if post.tags.size > 0 %}
{% capture tag_label %}
{% if post.tags.size == 1 %}<i aria-hidden='true' class="fa fa-tag"></i>{% else %}<i aria-hidden='true' class="fa fa-tags"></i>{% endif %} {% endcapture %}
{% endif %}
<p class='post-meta'>
  <span aria-hidden='true' class='fa fa-clock-o'></span><i class='sr-only'>Published on</i> <time datetime="{{fred.date}}">{{ fred.date | date: '%-d %B %Y' }}</time>
  {% if fred.author %}<!--<span aria-hidden='true' class='fa fa-user'></span><i class='sr-only'>Written by</i> {{ fred.author }}-->{% endif %}
  {{tag_label}}
  {% for tag in page.tags %}<a href="/tags/#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %} &bull; {% endunless %}{% endfor %}

</p>
<!-- div class="hidden fb-share-button" data-href="{{site.url}}{{page.url}}/" data-layout="button"></div -->