<aside id='sidebar' class='col-xs-12 col-sm-4' role='complementary'>
  <section aria-labelled-by='mcSidebar'>
    <h3 id='mcSidebar'>Get News in Your Inbox</h3>
    {% include forms/mailchimp.html %}
    <p></p>
  </section>
  <section aria-labelled-by='recent'>
    <h3 id='recent'>Recent Posts</h3>
    <div class='list-group'>{% for post in site.posts limit:7 %}
      <a class='list-group-item{%if post.url == page.url%} active{%endif%}' href='{{ site.baseurl }}{{post.url}}'>{{ post.title }}</a>
    {% endfor %}</div>
  </section>
  <section aria-labelled-by='taxonomy'>
  <h3 id='taxonomy'>Blog Categories</h3>
    <ul class="list-group">{% assign categories_list = site.categories | sort %}
    {% include categories_list.html %}
    </ul>
  </section>
</aside>
