<div class='social_networks'>
  <h4 class='hide-on-med-and-up'> <i class="fa fa-share" aria-hidden='true'></i> Share This Article</h4>
  <a target='_blank' class='btn btn-floating blue darken-4 waves-effect waves-light' href="http://www.facebook.com/share.php?u={{site.url}}{{page.url}}&title={{page.title}}" target="_Blank">
    <span aria-hidden='true' class='fa fa-facebook'></span> 
    <span class='sr-only'>facebook</span>
  </a>
  <a target='_blank' class='btn btn-floating blue-grey twitter' 
    href="http://twitter.com/home?status={{page.title}}+{{site.url}}{{page.url}}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" 
    target="_Blank"
    data-size="large"
    data-url="https://dev.twitter.com/web/tweet-button"
    data-count-url="https://dev.twitter.com/web/tweet-button"
    data-via="webmetech"
    data-related="twitterapi,twitter"
    data-hashtags="{{page.title}}"
    data-text="custom share text">
    <span aria-hidden='true' class='fa fa-twitter'></span>
    <span class='sr-only'>twitter</span>
  </a>
  <a target='_blank' class='btn btn-floating red darken-2 google-plus' href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_Blank">
    <span aria-hidden='true' class='fa fa-google-plus'></span><span class='sr-only'>google+</span>
  </a>
</div>
