<!-- HERO -->
<section id='hero' class='hero-section hero-layout-simple hero-fullscreen section section-dark'>
	<div class="section-background">
		<div class="section-background-image parallax" data-stellar-ratio="0.4">
			<img src="https://s3.amazonaws.com/dausha/images/articles/xLuctation.jpg" alt="" style="opacity: 0.2;">
		</div>
	</div>
	<div class="container">
		<div class="content">
			<div class="content-inner">
				<div class="table-row row">
					<div class="table-cell col-md-5">
						<img src="https://dausha.s3.amazonaws.com/images/covers/writing-novel-series-demo-cover.png"
								 alt=""
								 data-animation="animated fadeInLeft">
					</div>
					<div class="table-cell col-md-7">
						<div class="heading" data-animation="fadeIn">
							<h2>Guide a Series Fiction Book</h2>
							<p class='tagline'>
							There aren't many good books on series fiction. Nor will this be one of them without your help.
							If you seek to write series fiction and were looking for a decent roadmap how, I'd love to hear your suggestions or feedback.
							</p>
							<p class='tagline'>
							Help me write the book you want to read on series fiction.
							</p>
							{% include series-mailchimp.html %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>