/**
 * ==============================================================
 * COLOR SYLESHEET - DREW
 * ==============================================================
 */

$red: #da645a;
$blue: #50a0dc;
$green: #afc873;
$orange: #f3ae73;
$pink: #f08caa;
$turquoise: #73cdc8;
$yellow: #d7c369;

$misanoRed: #ba2111;
$pantone201c: #9d2235;
$maroon: #4d000c;

$themeColor: $pantone201c;

$sectionGray: #F0F0F0;
$sectionDark: #222222;
$sectionAccent: $themeColor;

