{% if page.craftmap == true %}
  <!-- Craftmap -->
  <script src='https://s3.amazonaws.com/dausha/js/craftmap.min.js'></script>
  <script type='text/javascript'>
      $(function(){ $('.demo1').craftmap({ image: { width: 1940, height: 2806 }});});
      // On dropdown open
      $(document).on('shown.bs.dropdown', function(event) {
          var dropdown = $(event.target);
          // Set aria-expanded to true
          dropdown.find('.dropdown-menu').attr('aria-expanded', true);
          // Set focus on the first link in the dropdown
          setTimeout(function() {
              dropdown.find('.dropdown-menu li:first-child a').focus();
          }, 10);
      });
      // On dropdown close
      $(document).on('hidden.bs.dropdown', function(event) {
          var dropdown = $(event.target);
          // Set aria-expanded to false        
          dropdown.find('.dropdown-menu').attr('aria-expanded', false);
          // Set focus back to dropdown toggle
          dropdown.find('.dropdown-toggle').focus();
      });
  </script>
{%else%} <!-- No Craftmap --> {%endif%}