{% if false %}
<!-- Get Clicky -->
  <a style='display:none;' title='Real Time Web Analytics' href='http://clicky.com/100752139'>
    <img alt='Real Time Web Analytics' src='//static.getclicky.com/media/links/badge.gif' border='0' />
  </a>
  <script src='//static.getclicky.com/js'></script>
  <script type='text/javascript'>try{ clicky.init(100752139); }catch(e){}</script>
  <noscript><p><img alt='Clicky' width='1' height='1' src='//in.getclicky.com/100752139ns.gif' /></p></noscript>
  {% else %} <!-- No Clicky --> {% endif %}