<div class=''>

<h3>Like Sci-Fi? Read My New Online Fiction Series.</h3>

<p>Do you like Sci-Fi? While I finish up my next novel, I have started an online fiction series called
<a href='http://bit.ly/1RhGDuq'>Forbearance</a>. Picking
up from the canteen scene in <em>Bellicose</em>, we meet Keius Minjen, a postal
marine, as he tries to survive the battle planet Guna to exact revenge and
one day liberate his homeland.</p>

<hr>

<div class='row alert alert-info'>
  <div class='col-sm-6'>
  <p>
  Sign-up if you want me to send you news 
  about upcoming installments of <em>Forbearance</em> or my other writings.</p>
  </div>
  <div class='col-sm-6'>
{% include forms/mailchimp.html %}
  </div>
</div>
</div>


<table class='table-bordered' width='100%'>
  <tr>
    <th>Base Guides</th>
    <th>Combat Guides</th>
  </tr>
  <tr>
    <td>
    <ul>
          <li><a href="/astro-empires/seven-ten-guide/">Seven/Ten Guide</a></li>
      <li><a href="/astro-empires/advanced-base-guide/">Advanced Base Guide</a></li>
      <li><a href="/astro-empires/base-defense-guide/">Base Defense Guide</a></li>
      <li><a href="/astro-empires/pring-construction-guide/">Build Prings Efficiently</a></li>
      <li><a href="/astro-empires/production-structures/">Production Structures Form</a></li>
      </ul>
    </td>
    <td>
      <ul>
      <li><a href="/astro-empires/napkin-combat/">Combat on Back of Napkin</a></li>
      <li><a href="/astro-empires/small-fleet-doctrine/">Small Fleet Doctrine</a></li>
      </ul>
    </td>
  </tr>
</table>