<div class='row'>
    <div class='col-md-3 col-sm-4 col-xs-12'>
        <h3 id='chart-cumulative-title'>Cumulative Writing Progress</h3>
        <p>This Cumulative Writing Progress chart shows:</p>
        <ul>
            <li>The cumulative writing target per day, and</li>
            <li>The actual cumulative word count progress.</li>
        </ul>
        <p>The chart cursor will give details, as well as the net surplus/deficit against the goal. As of today, Ben is <strong id='cwords'></strong> words <strong id='ct'></strong>.</p>
    </div>
    <div id='chart-cumulative' class='col-md-9 col-sm-8 col-xs-12 amchart'></div>
</div>
<hr />