<div class='row'>
    <div class='col-md-3 col-sm-4 col-xs-12'>
        <h3 id='chart-daily-title'>Daily Writing Progress</h3>
        <p>The Daily Writing Progress chart describes the following:</p>
        <ul>
          <li>Words written per day,</li>
          <li>Average words written per day over a period, and</li>
          <li>The daily average target needed to meet the year-end goal by end-of-year.</li>
        </ul>
    </div>
    <div id='chart-daily' class='col-md-9 col-sm-8 col-xs-12 amchart'></div>
</div>
<hr />