<!-- TWO COLS DESCRIPTION SECTION
================================= -->
<section id="forbearance" class="two-cols-description-section section-accent section">
	<div class="container-fluid two-cols-description-row">
		<!-- TWO COLS DESCRIPTION TEXT -->
		<div class="two-cols-description-text" data-animation="fadeInLeft">
			<div class="two-cols-description-text-inner">
				<h2 class="section-heading text-xs-left">Hard Pressed, But Not Crushed</h2>

				<p class='lead'>
					Keius Minjen joined the Postal Marines hoping to one day liberate his homeland. But when his unit is cut-off and surrounded on the Battle Planet Guna, Trooper Minjen must liberate himself.
				</p>

				<p class='text-xs-center'>
					<a href="/postal-marine-series/murder-on-guna-prime/" class="btn btn-lg btn-default">
					Read Murder on Guna Prime
					</a>
				</p>
				<h4>Get Updates as This Series Progresses</h4>
				{% include forms/mailchimp.html %}
			</div>
		</div>

		<!-- TWO COLS DESCRIPTION IMAGE -->
		<div class="two-cols-description-image" data-animation="fadeInRight">
			<img src="https://s3.amazonaws.com/dausha/images/foreplay.jpg" alt="" style="opacity: 0.3;">
		</div>

	</div>
</section>