<!-- TESTIMONIALS
			================================= -->
			<section id="testimonial" class="testimonial-section section">
				<div class="container">
					<h2 class="section-heading text-xs-center">Readers Praise <em>Bellicose</em></h2>
					<div class="testimonial-row row">
						<!-- TESTIMONIAL ITEM 1 -->
						<div class="col-sm-6">
							<div class="testimonial">
								<blockquote class="testimonial-quote">
								<h4>Must Read for Former Marines</h4>
									<p>Bought this book for my dad who is an former marine and he loves every page of it! A must read for all former marines out there!</p>
								</blockquote>
								<span class="testimonial-ratings">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</span>
								<cite class="testimonial-cite">Anonymous</cite>
							</div>
						</div>

						<!-- TESTIMONIAL ITEM 2 -->
						<div class="col-sm-6">
							<div class="testimonial">
								<blockquote class="testimonial-quote">
									<h4>Will Definitely Read the Next Book</h4>
									<p>I'll definitively get the next book in this series. If anyone who has been in the military knows that you will have one person in your unit who is a idiot can understand this story</p>
								</blockquote>
								<span class="testimonial-ratings">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star-o"></span>
								</span>
								<cite class="testimonial-cite">Larry C. Holly</cite>
							</div>
						</div>
					</div>
					<div class="testimonial-row row">

						<!-- TESTIMONIAL ITEM 1 -->
						<div class="col-sm-6">
							<div class="testimonial">
								<blockquote class="testimonial-quote">
								<h4>Great Substance</h4>
									<p>A nice coming-of-age story with a sci-fi twist. Nothing like an AI implant and bullets whizzing by your head to help you grow up quick, unlike the garbage mainstream books have been toting...</p>
								</blockquote>
								<span class="testimonial-ratings">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</span>
								<cite class="testimonial-cite">Drunkn Fairy</cite>
							</div>
						</div>

						<!-- TESTIMONIAL ITEM 2 -->
						<div class="col-sm-6">
							<div class="testimonial">
								<blockquote class="testimonial-quote">
									<h4>One Big SNAFU After Another!</h4>
									<p>I enjoyed the book. I found the behavior of many of the characters to be amusing. Some rather novel ideas were presented. ... This was about people trying to deal with a world often beyond their control with things happening they didn't like and about how they manged to resolve things or didn't. If you were looking for porn this isn't it.</p>
								</blockquote>
								<span class="testimonial-ratings">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star-o"></span>
								</span>
								<cite class="testimonial-cite">Dwight E. Howell</cite>
							</div>
						</div>

					</div>
				</div>

			</section>