<div class='col-md-6 col-lg-4 col-xs-12'>{% assign fred = post %}
  <h3 class='hidden-xs-down'><a href='{{ root_url }}{{ post.url }}'>{{post.title | titlecase | truncate:27}}</a> </h3>
  <h3 class='hidden-sm-up'>{{post.title | titlecase}}</h3>
  <p> {% include post_meta.html %}</p>
  <div class='photo'>
    <img src='{{ site.cdn_url }}/images/articles/thumbnails/{{post.image}}' alt=''>
  </div>
  {% if post.content contains "<!-- more -->" %}
    {{ post.content | split:"<!-- more -->" | first |markdownify }}
  {% else %}
    {{ post.content | strip_html | truncatewords:17|markdownify }}
  {% endif %}
  <div class='hidden-sm-up'>
    <a class='btn btn-primary' href='{{ root_url }}{{ post.url }}'>Read: {{ post.title | truncatewords:5 }}<span class='glyphicon glyphicon-chevron-right'></span></a>
  </div>
  <hr>
</div>