---
layout: default
---
{% if page.share %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=120807331401670";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{%endif%}
<main role='region' aria-labelledby='page-title'>
  <div class='row'>
	  <article class='col l8 m10 s12 offset-l2 offset-m1'>
	    <header>
        <h1>{% if page.category %}{% assign category = page.category | downcase %}
			<small aria-hidden='true' class='valign-wrapper'><i class="valign material-icons" aria-hidden='true'>folder_open</i> <a class='valign' href='{{ site.baseurl }}/categories/#{{ category | replace: ' ', '+'}}'>{{site.data['categories'][category]}}</a></small>
		{%endif%}
		{{ page.title }}</h1>
          <p  class='sr-only'>Category: {{category | titlecase}}</p>
          {% assign fred = page %}
          {% if page.subtitle %}<p class='subtitle'>{{page.subtitle}}</p>{%endif%}
        </header>
	    {% if page.toc == true %}{% include toc.html %}{%endif%}
      {% if page.tags %}{% include page_tags.html %}{%endif%}
		{{ content }}
	  </article>
  </div>
</main>