---
layout: page
---
<section id='introduction' class='lead'>
    {{ page.content | split:"<!-- more -->" | first |markdownify }}
</section>
{% unless page.photo['hidden'] %}<section id='photo'><figure class="photo">
      <img src="https://s3.amazonaws.com/dausha/images/articles/{{page.photo['image']}}" alt="{{page.photo['caption']}}" class='z-depth-2' />
      <div>{{page.photo['caption']}} (Photo: <a href="{{page.photo['url']}}">{{page.photo['creator']}}</a> {{page.photo['license']}}.)</div>
</figure></section>{% endunless %}
<section id='article-content''>
    {% if page.legal %}{% include legal-disclaimer.html %}{%endif%}
    {{ page.content | split:"<!-- more -->" | last |markdownify }}
</section>
<aside role='complementary' class='post-footer'>
    {% if page.series %}<hr>{%include article-series.html %}{%endif%}
    <hr>
    {% include social_networks.html %}
    <h4><i class='material-icons' aria-label=''>chat_bubble</i> Want to Share Your Reaction?</h4>
    <p>If you want to discuss this article, find the relevant posting on my <a href='https://www.facebook.com/MerovexPress/'>Facebook</a> page. Thanks!
    <hr>
    <div class='blog-subscribe text-sm-center'>
      <h4><i class='material-icons' aria-label=''>thumb_up</i> Like This Post?</h4>
      <p>Sign up for my blog updates and never miss a post.</p>
      {% include forms/mailchimp-full.html %}
    </div>
</aside>