---
layout: wide
comments: false
sharing: false
footer: false
sidebar: false
---

{{ content }}

<h2>Writing Charts</h2>

{% include amcharts/daily.html %}
{% include amcharts/cumulative.html %}
{% include amcharts/wpd.html %}

<script src='/logs/chart-logs.js' type='text/javascript'></script>
<script type='text/javascript'>
    var chartData;
    var arrow;
    var axis;
    var average;
    var makeup;
    var today;
    $.getJSON('/logs/data-{{ page.year }}.json').done(function(data) {
        chartData = data['data'];
        today = data['today'];
        average = data['average'];
        makeup = data['makeup'];
        hours = data['hours'];
        wphSpeed(data['aveWPH'], hours, chartData);
        makeChart('chart-daily', 'words', ['words','average','d_goal']);
        makeChart('chart-cumulative', 'goal', ['goal','total']);
        makeChart('chart-wpd', 'wph', ['wph','wph_ave']);
    });
</script>